.container-div {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
}

.conteiner-button {
  border: 2rem;
  border-radius: 1rem;
  border-color: black;
  justify-content: space-between;
  display: center;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(37 112 184);
  color: white;
}

button:hover {
  filter: brightness(0.8);
}

button:focus {
  outline-style: none;
}

.container-icon-button {
  display: flex;
  float: right;
  padding: 0.3% 0%;
}