.container-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}


.container-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.container-button-priori {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(211, 104, 104);
}

.container-description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.9rem;
  opacity: 0.6;
}